<div class="">
    <div class="row">
  
          <% @articles.each do |article| %>
            <div class="col-sm-6 p-3 my-3">
              <div class="card shadow-lg">
              
                  <div class="d-flex p-3 justify-content-end">
                     
                      <div>
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2" />
                      </div>
                      <div class="pb-2">
                        <%= link_to user_path(article.user.id), class: "text-decoration-none" do %>
                          <strong class="text-dark"><%= article.user.username %></strong>
                        <% end %>
                      </div>
                       
                  </div>
               
                <%= link_to article_path(article.id), class: "text-decoration-none text-dark" do %>
                  <div class="card-body">
                    <h5 class="card-title"><%= article.title %></h5>
                    <p class="card-text"><%= article.description.truncate(100, separator: ' ') %></p>

                    <div class="d-flex align-items-baseline justify-content-end gap-1">
                      <h6 class="card-text"><small class="text-muted">Creato <%= time_ago_in_words(article.created_at)%></small> | </h6>
                      <h6 class="card-text"><small class="text-muted">Ultimo aggiornamento <%= time_ago_in_words(article.updated_at) %></small></h6>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
          <% end %>
      </div>
</div>






