<br>
 <div class="container shadow-lg p-5 my-3 bg-body rounded-3">
        <div class="d-flex align-items-center gap-3 mb-1">
        <div class="pb-2">
            <%= link_to edit_article_path(@article.id) do %>
                <img width="20" height="20" src="<%= image_path('svg/pencil-square.svg') %>" alt="Your Blog">
            <% end %>
        </div>
        <div class="pb-2">
            <%= link_to article_path(@article.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                <img width="20" height="20" src="<%= image_path('svg/trash3-fill.svg') %>" alt="Your Blog">
            <% end %>
        </div>
        <div class="ms-auto p-2">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none" id="userReference" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong><%=  @article.user.username %> </strong>
            </a>
        </div>
        </div>

    <h3><b>Titolo</b></h3>
    <p>
        <%= @article.title%>
    </p>

    <h3><b>Descrizione</b></h3>
    <p>
       <%=  simple_format(@article.description)%>
    </p>

    

    
<div class="d-flex justify-content-end mt-5" >
  <div class="p-2">
     <small class="text-muted">Creato <%= time_ago_in_words(@article.created_at)%></small> |
     <small class="text-muted"> Ultimo aggiornamento <%= time_ago_in_words(@article.updated_at) %></small>
  </div>
</div>


 </div>


 <div class="container shadow-lg p-5 my-5 bg-body rounded-3">
    <h3 class="mb-3"><b>Gestione commenti</b></h3>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Marco Rossi</h6>
                    <p class="mb-0 opacity-75">Articolo fantastico, rispecchia la realtà</p>
                </div>
                <small class="opacity-50 text-nowrap">now</small>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Giulia Marzi</h6>
                    <p class="mb-0 opacity-75">Fantastico! pensavo fosse più difficile</p>
                </div>
                <small class="opacity-50 text-nowrap">now</small>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Luca Zefferi</h6>
                    <p class="mb-0 opacity-75">Tutto sommato semplice da realizzare, grazie.</p>
                </div>
                <small class="opacity-50 text-nowrap">1w</small>
            </div>
        </a>
    </div>
 </div>