<br />

<div class="container">
    <%if logged_in? && @user == current_user %>
    <h3>Gestione profilo</h3>
    <% else %>
    <h3><%= @user.username %></h3>
    <% end %>

    <div class="shadow-lg p-5 my-3 bg-body rounded-3">
        <div class="d-flex gap-3">
            <%if logged_in? && @user == current_user %>
            <div class="pb-2">
                <%= link_to edit_user_path(@user.id) do %>
                <img width="20" height="20" src="<%= image_path('svg/pencil-square.svg') %>" alt="Your Blog" />
                <% end %>
            </div>
            <div class="pb-2 me-3">
                <%= link_to user_path(@user.id), data: { turbo_method: :delete, turbo_confirm: 'Sei sicuro di voler eliminare il profilo?' } do %>
                <img width="20" height="20" src="<%= image_path('svg/trash3-fill.svg') %>" alt="Your Blog" />
                <% end %>
            </div>
            <% end %>
        </div>
        <div class="d-flex align-items-center gap-3 mb-1">
            <div class="pb-2 flex-column me-2">
                <div><strong>Username</strong></div>
                <div><%= @user.username %></div>
            </div>
            <%if logged_in? && (@user == current_user || current_user.admin?) %>
            <div class="pb-2 flex-column">
                <div><strong>Email</strong></div>
                <div><%= @user.email %></div>
            </div>
            <% end %>
            <div class="pb-2 flex-column">
                <div><strong>Articoli</strong></div>
                <div><%= @user.articles.count %></div>
            </div>

            <div class="ms-auto p-2 d-flex">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none" id="userReference" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2" />
                </a>
                <strong><span><%= @user.username %> </span></strong>
            </div>
        </div>
        <%if logged_in? && (@user == current_user) %>
            <%= link_to new_article_path, class: "fw-bold text-decoration-none text-dark" do %>
            <div class="d-flex gap-2 mt-3">
                <img class="d-block mb-4" src="<%= image_path('svg/plus-circle.svg') %>" alt="" width="30" height="30" />
                Nuovo articolo
            </div>
            <% end %>
        <% end %>
    </div>
    <%= render 'articles/articles' %>
</div>

<div class="apple_pagination">
    <div class="page_info">
        <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @articles, :container => false %>
</div>
