<% if logged_in?%>
<div class="px-4 text-center bg-primary vh-100">
    <!--<img class="d-block mx-auto mb-4" src="<%= image_path('svg/logo.svg') %>" alt="" width="72" height="72">-->
    <h1 class="display-5 text-white fw-bold title-home">Ciao! <span class="text-warning"><%=current_user.username%></span> benvenuto su BlogCreator!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white">Ci sei mancato, inizia a dare sfogo alla tua creatività.</p>
    </div> 

    <div class="d-flex justify-content-center">
    <div class="w-50 p-3">
      <%= link_to 'I miei articoli', user_path(current_user.id), class: "btn-animate btn btn-warning btn-lg"%>
    </div>
    </div>
</div>

 
<%else%>
<div class="px-4 text-center bg-primary">
    <!--<img class="d-block mx-auto mb-4" src="<%= image_path('svg/logo.svg') %>" alt="" width="72" height="72">-->
    <h1 class="display-5 fw-bold title-home">Benvenuto su BlogCreator!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white">BlogCreator è la tua piattaforma per esprimere te stesso, condividere le tue idee e connetterti con persone di tutto il mondo. </p>
      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center mb-5">
        <%= link_to 'Accedi', login_path, class: "btn btn-warning btn-animate btn-lg px-4 gap-3"%>
        <%= link_to 'Registrati', register_path, class: "btn btn-dark btn-lg px-4"%>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="<%= image_path('png/bootstrap-docs.png') %>" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
</div>
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h2 class="display-6 fw-bold">Crea il Tuo Blog</h2>
        <p class="lead mb-4">Con BlogCreator, creare il tuo blog personale è semplice come contare fino a tre. Non è necessario essere un esperto di tecnologia. Scegli un design, personalizza il tuo contenuto e sei pronto per iniziare.</p>
        <button class="btn btn-warning btn-animate btn-lg" type="button">Scopri di più</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-light bg-primary">
          <h2>Esplora e Connetti</h2>
          <p class="lead mb-4">Scopri blog su argomenti che ti appassionano e connettiti con autori che condividono i tuoi interessi. Che tu sia interessato alla cucina, alla tecnologia, all'arte o a qualsiasi altro argomento, c'è una comunità che ti aspetta.</p>
          <button class="btn btn-light btn-animate btn-lg" type="button">Scopri di più</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-light bg-dark border rounded-3">
          <h2>Condividi le Tue Idee</h2>
          <p class="lead mb-4">Ogni voce merita di essere ascoltata. Con BlogCreator, le tue idee possono raggiungere un pubblico globale. Scrivi, condividi e fai la differenza, ovviamente sempre nel rispetto altrui e nel rispetto delle regole.</p>
          <button class="btn btn-warning btn-animate btn-lg" type="button">Scopri di più</button>
        </div>
      </div>
    </div>
  </div>
<%end%>



