<div class="px-4 text-center bg-primary">
    <!--<img class="d-block mx-auto mb-4" src="<%= image_path('svg/logo.svg') %>" alt="" width="72" height="72">-->
    <h1 class="display-5 fw-bold title-home">Benvenuto su BlogCreator!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white">BlogCreator è la tua piattaforma per esprimere te stesso, condividere le tue idee e connetterti con persone di tutto il mondo. </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-dark btn-lg px-4 gap-3">Accedi</button>
        <%= link_to 'Registrati', register_path, class: "btn btn-warning btn-lg px-4"%>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="<%= image_path('png/bootstrap-docs.png') %>" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
</div>


<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h2 class="display-6 fw-bold">Crea il Tuo Blog</h2>
        <p class="lead mb-4">Con BlogCreator, creare il tuo blog personale è semplice come contare fino a tre. Non è necessario essere un esperto di tecnologia. Scegli un design, personalizza il tuo contenuto e sei pronto per iniziare.</p>
        <button class="btn btn-warning btn-lg" type="button">Scopri di più</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-light bg-primary">
          <h2>Esplora e Connetti</h2>
          <p class="lead mb-4">Scopri blog su argomenti che ti appassionano e connettiti con autori che condividono i tuoi interessi. Che tu sia interessato alla cucina, alla tecnologia, all'arte o a qualsiasi altro argomento, c'è una comunità che ti aspetta.</p>
          <button class="btn btn-light btn-lg" type="button">Scopri di più</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 text-light bg-dark border rounded-3">
          <h2>Condividi le Tue Idee</h2>
          <p class="lead mb-4">Ogni voce merita di essere ascoltata. Con BlogCreator, le tue idee possono raggiungere un pubblico globale. Scrivi, condividi e fai la differenza, ovviamente sempre nel rispetto altrui e nel rispetto delle regole.</p>
          <button class="btn btn-warning btn-lg" type="button">Scopri di più</button>
        </div>
      </div>
    </div>
  </div>

<!--<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-flex gap-1">
          <img class="bi" width="40" height="40" src="<%= image_path('svg/pencil-square.svg') %>" />
          <h2>Crea il Tuo Blog</h2>
        </div>
    
        <p>Con BlogCreator, creare il tuo blog personale è semplice come contare fino a tre. Non è necessario essere un esperto di tecnologia. Scegli un design, personalizza il tuo contenuto e sei pronto per iniziare.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-flex gap-1">
          <img class="bi" width="40" height="40" src="<%= image_path('svg/globe.svg') %>" />
          <h2>Esplora e Connetti</h2>
        </div>
        
        <p>Scopri blog su argomenti che ti appassionano e connettiti con autori che condividono i tuoi interessi. Che tu sia interessato alla cucina, alla tecnologia, all'arte o a qualsiasi altro argomento, c'è una comunità che ti aspetta.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-flex gap-1">
          <img class="bi" width="40" height="40" src="<%= image_path('svg/people-fill.svg') %>" />
          <h2>Condividi le Tue Idee</h2>
        </div>
        
        <p>Ogni voce merita di essere ascoltata. Con BlogCreator, le tue idee possono raggiungere un pubblico globale. Scrivi, condividi e fai la differenza, ovviemente sempre nel rispetto altrui e nel rispetto delle regole.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
</div>-->