<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
      <div class="container-fluid">
        <!--<a href="/" class="navbar-brand">
          <img width="34" height="34" src="<%= image_path('svg/logo.svg') %>" alt="Your Blog">
        </a>-->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'BlogCreator', root_path, class: "nav-link active fw-bold"%>
            </li>
            <li class="nav-item">
              <%= link_to 'Blogger', users_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'Popolari', articles_path, class: "nav-link"%>
            </li>

            <li class="nav-item">
              <%= link_to 'Categorie', categories_path, class: "nav-link"%>
            </li>

             <% if logged_in?%>
             <li class="nav-item">
              <%= link_to (current_user.admin? ? 'Profilo (Admin)' : 'Profilo'), user_path(current_user.id), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Esci', logout_path , class: "nav-link", data: { turbo_method: :delete } %>
              </li>
             <%end%>
          </ul>
          <div class="ms-auto">
              <input autocomplete="off" class="form-control me-2" type="search" id="searchUser" placeholder="Cerca blogger" aria-label="Search">
              <ul class="list-group position-absolute" id="user-list">
              </ul>
          <div>
       <div>
      </div>
    </nav>

<script>

      $('#searchUser').on('keyup', function() {
        var query = $(this).val();
        if (query.length <= 2) {
        return;
        }
        $.ajax({
          url: '/search',
          method: 'GET',
          data: {query: $(this).val()},
          dataType: 'json',
          success: function(data) {
              $('#user-list').empty();
              data.forEach(function(user) {
                var link = $('<a>').attr('href', '/users/' + user.id).addClass('nav-link').text(user.username);
                var listItem = $('<li>').addClass("list-group-item").append(link);
                $('#user-list').append(listItem);
              });
          }
      });
    });

    $('#searchUser').on('focusout', function() {
       setTimeout(() => { 
       $('#user-list').empty();
        }, 100);
    });

</script>

