<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
      <div class="container-fluid">
        <!--<a href="/" class="navbar-brand">
          <img width="34" height="34" src="<%= image_path('svg/logo.svg') %>" alt="Your Blog">
        </a>-->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'BlogCreator', root_path, class: "nav-link active fw-bold"%>
            </li>
            <li class="nav-item">
              <%= link_to 'Blogger', users_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'Popolari', articles_path, class: "nav-link"%>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <% if logged_in?%>
             <li class="nav-item">
              <%= link_to 'I miei articoli', articles_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Profilo', user_path(current_user.id), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Esci', logout_path , class: "nav-link", data: { turbo_method: :delete } %>
            </li>
             <%end%>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Digita un nome" aria-label="Search">
            <button class="btn btn-warning" type="submit">Cerca</button>
          </form>
        </div>
      </div>
    </nav>